RewriteEngine On
RewriteBase /SIA/my-react-app/

# Serve index.html for client-side routes like /staff or /consumer
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]
